/* BONUS  */

@media screen and (max-width:1160px) {
    .container {
        max-width: 769px;
        overflow: hidden;
    }
}

/* ESERCIZIO */

@media screen and (max-width:768px){
    .lessons .container {
        max-width: 100%;
    }

    .steps .container {
        max-width: 100%;
    }

    .why-us .container {
        max-width: 100%;
    }
}

@media screen and (max-width:480px){
        .row {
            align-items: center;
            flex-direction: column;
        }

        .col {
            min-width: 100%;
        }
}





